body{
    
}
.article{
    padding: 20px;
}
h1{
    padding 20px;
    margin-bottom: 20px;
}
.navbar{
    text-align: center;
    font-size: 20px;
    font: bold;
    color: rgb(6, 117, 71)
    height: 50px;
    width: auto;
    background-color: bisque;
}